:root {
  --main-color: #f4d04e;
  --text-dark: #111111;
  --text-gray: #6b6b6b;

  --font-size-14: 0.875rem;

  --font-weight-800: 800;
  --font-weight-500: 500;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

.bg {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.card {
  background-color: #fff;
  max-width: 24rem;
  border: 1px solid var(--text-dark);
  border-radius: 1.25rem;
  padding: 1.5rem;
  box-shadow: 0.5rem 0.5rem 0 #000;
}

.card-cover {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
}

.tags span {
  display: inline-block;
  background-color: var(--main-color);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-800);
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.date {
  font-size: var(--font-size-14);
  margin: 0.75rem 0;
  line-height: 1.5;
  display: inline-block;
}

.card h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: var(--font-weight-800);
}

.card a:hover {
  color: var(--main-color);
  transition: color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .card a:hover {
    transition: none;
  }
}

.excerpt {
  color: var(--text-gray);
  line-height: 1.5;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  max-width: 2rem;
  display: inline-block;
}

.author span {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-800);
  margin-left: 0.75rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
